@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthProvider

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main class="flex-grow-1 flex-shrink-0 overflow-hidden">
            <div class="top-row px-4">
                @if (isAuthenticated)
                {
                    <button class="btn btn-danger" @onclick="HandleLogout">Logout</button>
                    <button class="btn btn-primary" @onclick="RedirectProfil">Profil</button>

                }
                else
                {
                   <button class="btn btn-primary" @onclick="RedirectToLogin">Login</button>

                }



                <a href="https://www.levanti-consultants.fr/" target="_blank">About Levanti</a>
            </div>


            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

@code {
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
    }
    private void RedirectToLogin()
    {
        Navigation.NavigateTo("/");

    }

    private void RedirectProfil()
    {
        Navigation.NavigateTo("/Profil");

    }

    private async Task HandleLogout()
    {
        await AuthProvider.Logout();
        Navigation.NavigateTo("/", forceLoad: true);
    }

}
